<%= javascript_include_tag "project_selectors" %> <!-- PULL IN FUNCTIONALITY FOR LIMITING SELECTION LISTS BASED ON PREVIOUS SELECTION -->

<!-- INITIALIZE VARIABLES -->
<% weekly_goal = weekly_goal %> <!-- generate local variable from local pulled in from render partial in edit.js.erb. local variable isn't recognized if I don't have this line included -->
<% if weekly_goal.nil? then weekly_goal = WeeklyGoal.new end%> <!-- null handling to satisfy compiler -->
<%  project_umbrellas = ProjectUmbrella.all %>


<!-- FORM -->
<%= form_for weekly_goal do |form| %>

  <!-- ERROR HANDLING -->
  <% if weekly_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weekly_goal.errors.count, "error") %> prohibited this weekly_goal from being saved:</h2>

      <ul>
      <% weekly_goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- FORM FIELDS -->
  <div>
    <%= form.label :project_umbrella %>
    <% if !weekly_goal.project.nil? %>
      <% if !weekly_goal.project.project_umbrella_id.nil? %>
        <%= form.select :project_umbrella_id, options_from_collection_for_select(project_umbrellas, "id", "name" ,weekly_goal.project.project_umbrella_id) + options_for_select(["Add New..."]) %>
      <% else %>
        <%= form.select :project_umbrella_id, options_from_collection_for_select(project_umbrellas, "id", "name") + options_for_select(["Add New..."]) %>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= form.label :project %>
    <%= form.grouped_collection_select :project_id, ProjectUmbrella.order(:name), :projects, :name, :id, :name, {:include_blank => "Add New..."}, :value => weekly_goal.project_id %>
  </div>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :repeat_recurrence %>
    <%= form.select :repeat_recurrence_id, RepeatRecurrence.all.collect{ | rr | [rr.name, rr.id] }, :value => weekly_goal.repeat_recurrence_id %>
  </div>

  <div>
    <%= form.label "Active?: " %>
    <%= form.check_box :active, :value => weekly_goal.active %>
  </div>

  <div>
    <%= form.label "Completed?: " %>
    <%= form.check_box :completed, :value => weekly_goal.completed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
