<p id="notice"><%= notice %></p>

<p>
  <strong>Periodicity:</strong>
  <%= @scrum_task.task_recurrences_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @scrum_task.category %>
</p>

<p>
  <strong>Task:</strong>
  <%= @scrum_task.task %>
</p>

<p>
  <strong>Completed?:</strong>
  <%= @scrum_task.completed %>
</p>

<%= link_to 'Edit', edit_scrum_task_path(@scrum_task) %> |
<%= link_to 'Back', scrum_tasks_path %>
