<p id="notice"><%= notice %></p>

<h1>Project Modules</h1>

<table>
  <thead>
    <tr>
      <td>associated project</td>
      <td>Name</td>
      <td>start_date</td>
      <td>completion_goal_date</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_modules.each do |project_module| %>
      <tr>
        <td><%= project_module.project_id %></td>
        <td><%= project_module.name %></td>
        <td><%= project_module.start_date %></td>
        <td><%= project_module.completion_goal_date %></td>
        <td><%= link_to 'Show', project_module %></td>
        <td><%= link_to 'Edit', edit_project_module_path(project_module) %></td>
        <td><%= link_to 'Destroy', project_module, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Module', new_project_module_path %>
