<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, value: project.name %>
  </div>

  <div>
    <%= form.label :associated_project_umbrella %>
    <%=form.select :project_umbrella_id, ProjectUmbrella.all.collect {|pu| [ pu.name, pu.id ] }, :value => project.project_umbrella_id %>
  </div>

  <div>
    <%= form.label :start_date %>
    <%= content_tag :div, :class => "date_select", :data => {:provide => 'datepicker', 'date-format' => 'yyyy-mm-dd', 'date-autoclose' => 'true'} do
      form.text_field :start_date, class: 'form-control', placeholder: 'YYYY-MM-DD', value: project.start_date
    end%>
  </div>

  <div>
    <%= form.label :completion_goal_date %>
    <%= content_tag :div, :class => "date_select", :data => {:provide => 'datepicker', 'date-format' => 'yyyy-mm-dd', 'date-autoclose' => 'true'} do
      form.text_field :completion_goal_date, class: 'form-control', placeholder: 'YYYY-MM-DD', value: project.completion_goal_date
    end%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
