<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  

    <%= javascript_include_tag "project_selectors" %>
    <%= javascript_include_tag "modals_dropdowns" %>
    <%= javascript_include_tag "tracker_index" %>
  </head>
  <body>
    <p id="notice"><%= notice %></p>
    <% prev_month_year = get_prev_month_year("-") %>
    <% next_month_year = get_prev_month_year("+") %>

    <!-- BOOTSTRAP - NAVBAR -->
    <nav class="navbar navbar-light bg-light">
      <div class="btn-group">
        <button type="button" class="btn btn-primary nav-button" data-toggle="dropdown"><%= fa_icon('bars')%></button>
        <div class="dropdown-menu">
          <%= link_to "Home", "/", method: :get %>
          <br><%= link_to "Project List", :controller => "projects", :action => "index" %>
        </div>
      </div>

      <span class="navbar-brand mb-0 h1">TimeTrack</span>

      <div>
        <%= Time.now.strftime('%m-%d-%Y')%><br>
        <%= Time.now.strftime('%H:%M')%>
      <div>
    </nav>

    <h1 id="month-title"><span id="prev-month-link"><%= link_to "<<", month_index_path(:month=>prev_month_year["month"], :year=>prev_month_year["year"])%></span>  <%= Date::MONTHNAMES[@month] + " " + @year.to_s %>  <span id="next-month-link"><%= link_to ">>" , month_index_path(:month=>next_month_year["month"], :year=>next_month_year["year"])%></span></h1>
    <button id="new_tracker_btn"type="button" class="btn btn-info btn-md new_btn" data-toggle="modal" data-target="#tracker-modal-window">Add Trackers</button>

    <!-- Modal window for 'New' and 'Edit' tracker functionality -->
    <div id="tracker-modal-window" class="modal hide fade" role="dialog" aria-labelledby="tracker-modal-window" aria-hidden="true">
      <div id="modal-dialog" class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <i class="fas fa-times" data-dismiss="modal" onclick="modalXClose()"></i>
            <h4 class="modal-title" id="tracker-modal-title"></h4>
          </div>
          <div id="tracker-modal-window-body" class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> <!-- end tracker-modal-window -->


      
    <table id="monthly-trackers">
      <thead>
        <tr>
          <th>Date</th>
          <th>Project Umbrella</th>
          <th>Project</th>
          <th>Weekly Goal</th>
          <th>Daily Task</th>
          <th colspan="2">Description</th>
          <th>Hours</th>
          <th>Start time</th>
          <th>End time</th> 
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody id="trackers_body">
        <% end_of_month =  Date.civil(@year, @month, -1).day %> <!-- find the last day of the month -->
        <% end_of_month = Time.now.day if @month == Time.now.month %> <!-- if current month, only display empty dates up to the current day -->
        <% (end_of_month).downto(1) do |i| %> <!-- loop from last day of month to day 1 -->
          <% @day_trackers = get_days_trackers(i) %> <!-- return an array of trackers for day i -->
          <% if @day_trackers.empty? then %> <!-- if array is empty display 'no info' line -->
            <tr class='empty_day'>
              <% i_day = Date.new(@year, @month, i) %>
              <td><%= i_day.strftime("%a #{i_day.day.ordinalize}") %></td>
              <td colspan="11" class="no-track-msg">No Trackers Entered</td>
            </tr>
          <% else %> <!-- if array is not empty, format and show all trackers for the day -->
            <% @day_trackers.each do |tracker| %>
              <tr id=<%=tracker.id%>>
                <td><%= tracker.date.strftime("%a #{tracker.date.day.ordinalize}") %></td>
                <td>
                  <% if !tracker.project.nil? then %>
                    <% if !tracker.project.project_umbrella.nil? then %>
                      <%= tracker.project.project_umbrella.name %>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <% if !tracker.project.nil? then %>
                    <%= tracker.project.name %>
                  <% end %>
                </td>
                <td>
                  <% if !tracker.daily_task.nil? then %>
                    <% if !tracker.daily_task.weekly_goal.nil? then %>
                      <%= tracker.daily_task.weekly_goal.name %>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <% if !tracker.daily_task.nil? then %>
                    <%= tracker.daily_task.name %>
                  <% end %>
                </td>
                <td colspan="2"><%= tracker.description %></td>
                <td><%= tracker.hours %></td>
                <td><%= tracker.start_time.strftime("%H:%M") %></td>
                <td><%= tracker.end_time.strftime("%H:%M") %></td>
                <td><%= link_to "Edit", edit_tracker_path(tracker.id), :remote => true %></td>
                <td><%= link_to 'Destroy', tracker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>  
      </tbody>
    </table>

    <div id="place-for-edit-form-meow"></div>
  </body>
</html>
